<%= render "header" %>
<%= render "show" %>

<!-- <h3><%= model_name_pluralize Issue %></h3>
<%# list_form = list_form_for(query_form_for([association_chain, resource, Issue].flatten, resource.issues)) %>
<%#= form_render list_form %> -->

<h3>Add new issue</h3>
<%= form_render edit_form_for([association_chain, resource, Issue].flatten) %>

<h3><%= model_name_pluralize Issue %></h3>
<% resource.issues.each do |issue| %>
  <% issue_show_form = show_form_for(issue) do |form| %>
    <% form.hide_fileds :project %>
  <% end %>
  <%= form_render issue_show_form %>
<% end %>



<% unless resource.issues.any? %>
  <p>No issues</p>
<% end %>