<%= content_for(:page_actions) do  %>
  <%# Rename EDIT -> Modify  %>
  <% if can? :edit, resource %>
    <%= link_to edit_resource_path, class: 'btn btn-info' do %>
      <i class="icon-pencil"> Modify project</i> 
    <% end %>
  <% end %>
  <%#= link_to delete_resource_path, class: "btn btn-danger" %>
  <%= render "forms/buttons/delete", url: resource_path if can? :destroy, resource %>
<% end %>
<!-- TODO routing variables -->
<!-- TODO list of things I can render -->

<%= render "header" %>
<%= render "show" %>

<!-- <h3><%= model_name_pluralize Issue %></h3>
<%# list_form = list_form_for(query_form_for([association_chain, resource, Issue].flatten, resource.issues)) %>
<%#= form_render list_form %> -->

<h3>Add new issues</h3>
<% issue_edit_form_for = edit_form_for([association_chain, resource, Issue].flatten) do |form|%>
  <% form.field :project do |f1| %>
    <% f1.visible = false %>
    <% f1.value = resource.id %>
  <% end %>

  <% form.field :version do |f2| %>
    <%# f2.visible = false %>
    <% f2.options_source_params = { "f[project_id_eq]" => resource.id } %>
  <% end %>  
<% end %>

<%= form_render issue_edit_form_for %>

<h3><%= model_name_pluralize Issue %></h3>
<% resource.issues.each do |issue| %>
  <% issue_show_form = show_form_for(issue) do |form| %>
    <% form.field :project do |field| %>
      <% field.visible = false %>
    <% end %>
  <% end %>
  <%= form_render issue_show_form %>
<% end %>



<% unless resource.issues.any? %>
  <p>No issues</p>
<% end %>